:root{
    --cor-dark:#111111;
    --cor-light:#FFFFFF;
    --cor-grey:#f1f1f1;
    --cor-borda:#d1d1d1;
    --cor-dark-blue:#34495e;
    --cor-light-blue:#327aff;

    --font-family:"Nunito", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    font-family: var(--font-family);
    background-color: var(--cor-light);
}

main {
    display: flex;
    flex-direction: column;
}

.info{
    height: 90vh;
}

.overlay{
    background-image:url(assets/predio3.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lancamento{
    background-color: #1111118d;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.lancamento p {
    text-align: center;
    color: var(--cor-light);
    font-weight: 500;
    text-shadow: 5px 5px 10px var(--cor-dark);
}


.lancamento p span {
    font-size: 2.5rem;
    font-weight: 700;
}

/*segunda seção*/
.newsletter{
    background-color: var(--cor-grey);
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    padding: 0 1rem;
}

.newsletter h2{
    font-size: 2.5rem;
    margin-bottom: .5rem;
    background: linear-gradient(to right, var(--cor-dark-blue), var(--cor-light-blue));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

.newsletter h2 + p {
    font-weight: 600;
    font-style: italic;
    font-size: o.875rem;
    margin-bottom: 1rem;
}

.newsletter p + p {
    font-size: 0.875rem;
    margin-bottom: 2rem;
}

.newsletter form{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0, 0, 0, 0,)
}
.newsletter form input, .newsletter form button{
    height: 3rem;
    border-radius: 3.5rem;
}

.newsletter form input{
    border: 1px solid var(--cor-borda);
    padding: 0.875rem 1rem; 
    font-size: 1rem;
}

.newsletter form button{
    border: 0;
    background: linear-gradient(90deg,
     var(--cor-dark-blue),
      var(--cor-light-blue)
      );

      font-weight: 600;
      color: var(--cor-light);
      font-size: 1rem;
      cursor: pointer;
}

.andamento{
    padding: 4.75rem 1rem 1rem 1rem;

}

.andamento h2, .andamento p{
    text-align: center;
}

.andamento h2{
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
}

.andamento p{
    font-size: 0.875rem;
}

.andamento img{
    max-width: 100%;
}